.sidebar {
  overflow: hidden;
}

.name-div {
  margin-top: 10vh;
  text-align: right;
}

@media (min-width: 48em) {
  .name-div .firstname {
    font-size: 5vmax!important;
  }
  .name-div .lastname {
    font-size: 2vmax!important;
    margin-top: calc(-1.8em + 0.5vw)!important;
  }
}

.name-div .firstname {
  font-family: 'Martel Sans';
  font-size: 10vmax;
  font-weight: 200;
  color: #D0011B;
}

.name-div .lastname {
  font-family: 'Martel Sans';
  font-size: 5vmax;
  margin-top: calc(-1em + 0.5vw);
  font-weight: 200;
  color: #FFFFFF;
}

@media (min-width: 48em) {
  .footer-div {
    font-size: 0.9vmax!important;
  }
}

.footer-div {
  background-color: #D0011B;
  height:6vh;
  width:100vw;
  left:0;
  position: absolute;
  bottom: 0;
  font-size: 1.8vmax;
  font-family: 'Helvetica';
  color: #FFFFFF;
  padding-left: 20px;
  padding-right: 5px;
  padding-top: calc(0.1*6vh);
  padding-bottom: 2px;
  text-align: left;
}

@media (min-width: 48em) {
  .sidebar-description {
    margin-top: 15vh!important;
    font-size: 1.2vmax!important;
    margin-top: 28vh;
  }
}

.sidebar-description {
  margin-bottom: calc(0.1*6vh);
  margin-top: 15vh;
  font-weight: 200;
  right: 0;
  font-family: 'Martel Sans';
  font-size: 2vmax;
  font-weight: lighter;
  color: #FFFFFF;
  text-align: right;
}