.name-div {
  margin-top: 10vh;
  text-align: right;
}

.name-div .firstname {
  font-family: 'Josefin Sans';
  font-size: calc(0.08*100vmax);
  color: #D0011B;
}

.name-div .lastname {
  font-family: 'Josefin Sans';
  font-size: calc(0.02*100vmax);
  margin-top: calc(-2em + 0.5vw);
  color: #FFFFFF;
}

.footer-div {
  background-color: #D0011B;
  height:6vh;
  width:100vw;
  left:0;
  position: absolute;
  bottom: 0;
  font-size: calc(0.28*6vh);
  font-family: 'Helvetica';
  color: #FFFFFF;
  padding-left: 20px;
  padding-right: 5px;
  padding-top: calc(0.1*6vh);
  padding-bottom: 2px;
  text-align: left;
}