<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section>
			<div class="contact-method">
				<span class="icon alt fa-envelope"></span>
				<h3>Contact Me</h3>
				I usually reply within 24 hours, my university mail is&nbsp; <h5><a href="#">{{ site.email }}</a></h5>
			</div>
		</section>
	</div>
</section>



<!-- Scripts -->
	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.min.js"></script>
	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.scrolly.min.js"></script>
	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.scrollex.min.js"></script>
	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/skel.min.js"></script>
	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>
