<section id="services">
<!-- Page Content -->
{% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                    {% if post.research %}
                    <h4><small><i class="fa fa-university" aria-hidden="true"><b>&nbsp;&nbsp;Research Publication</b></i><br/>{{ post.research }}</small></h4>
                    {% endif %}
                    <br><br>
                    <a href="{{ social.url }}" class="btn btn-primary btn-lg"> <span class="network-name">Look inside</span></a>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    {% if post.img %}
                        <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                    {% endif %}
                    {% if post.video %}
                        <iframe src="{{ post.video }}" width="540" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    {% endif %}
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                    {% if post.research %}
                    <h4><i class="fa fa-university" aria-hidden="true">&nbsp;&nbsp;Research Publication</i><small>{{ post.research }}</small></h4>
                    {% endif %}
                    <br><br>
                    <a href="{{ social.url }}" class="btn btn-primary btn-lg"> <span class="network-name">Look inside</span></a>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    {% if post.img %}
                        <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                    {% endif %}
                    {% if post.video %}
                        <iframe src="{{ post.video }}" width="540" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    {% endif %} 
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
</section>
