<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="name-div">
        <p class="firstname">
          {{ site.firstname }}
        </p>
        <p class="lastname">
          {{ site.lastname }}
        </p>
      </div>
      <!--<div class="sidebar-description">
        <p>{{ site.description }}</p>
      </div>-->
    </div>
  </div>
  <!--<div class="city-div">
    <img src="public/city.svg"></img>
  </div>-->
  <div class="footer-div">
    &copy; {{ site.time | date: '%Y' }} All rights reserved. Design and code by <b><a href="{{ site.author.url }}">Akash Shetye</a></b>, inspired by Bauhaus art.
  </div>
</div>
