<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="name-div">
        <p class="firstname">
          {{ site.firstname }}
        </p>
        <p class="lastname">
          {{ site.lastname }}
        </p>
      </div>
      <p class="lead">{{ site.description }}</p>
    </div>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
  <div class="footer-div">
    © 2017 Design and code by <b><a href="{{ site.author.url }}">Akash Shetye</a></b>, inspired by Bauhaus art.
  </div>
</div>
